@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #fff;
    --color-red: red;
    --color-yellow: yellow;
    --color-green: rgb(0, 255, 0);
    --color-lightBlue: rgb(0, 255, 255);
    --color-cyan: cyan;
    --color-blue: blue;
    --color-magenta: magenta;
    --color-violet: rgb(98, 31, 124);
    --color-orange: rgb(209, 98, 7);
    --color-pink: rgb(250, 204, 212);
}

img.mission-and-vision {
    width: 60%;
}

.imgdiv {
    text-align: center;
}

.expand p {
    margin: 5px auto;
    padding: 5px 10px;
    text-align: center;
    width: 50%;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    border: 10px solid var(--color-green);
    border-radius: 12px;
    font-weight: bold;
}