@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body {
    margin: 20px auto;
    font-family: 'Roboto';
    background: lightsteelblue;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #fff;
    --color-red: red;
    --color-yellow: yellow;
    --color-green: rgb(0, 255, 0);
    --color-lightBlue: rgb(0, 255, 255);
    --color-cyan: cyan;
    --color-blue: blue;
    --color-magenta: magenta;
    --color-violet: rgb(98, 31, 124);
    --color-orange: rgb(209, 98, 7);
    --color-pink: rgb(250, 204, 212);
    --color-black: black;
    --color-darkGray: #333;
    --color-lightGray: rgb(221, 220, 220);
}

header {
    position: relative;
}

.imgLogo {
    position: relative;
    width: 13%;
    border-radius: 50%;
    height: 2%;
    padding: 3px 16px;
    margin: 1px 8px;
}

#navlist a {
    float: left;
    display: block;
    color: var( --color-black);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    margin-top: 3%;
    padding-right: 16px;
}

.navlist-right {
    float: right;
}

#navlist a:hover {
    border-bottom: 3px solid var(--color-orange);
}

.navlist-right a {
    text-decoration: none;
    color: var( --color-black);
}

.mission-vision {
    position: relative;
}

img.mission-and-vision {
    display: block;
    width: 100%;
    height: 100%;
}

.imgdiv {
    position: relative;
    display: inline-block;
    text-align: center;
}

.about {
    position: absolute;
    margin: 5px auto;
    padding: 5px 10px;
    text-align: center;
    width: 70%;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgdiv p span {
    font-size: 42px;
    padding: 16px 0;
}

@media only screen and (max-width: 900px) {
    .about {
        font-size: 18px;
    }
    .imgdiv p span {
        font-size: 28px;
        padding: 8px 0;
    }
}

@media only screen and (max-width: 700px) {
    .about {
        font-size: 12px;
    }
    .imgdiv p span {
        font-size: 20px;
        padding: 4px 0;
    }
    .row {
        width: 50%;
    }
}

footer {
    margin-top: 50px;
    border-top: 1px solid #d1d9e6;
    background-color: #e6e7ee;
    height: 500px;
}

.foo {
    width: 33%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

.footer-logo {
    width: 200px;
    margin-left: 10%;
}

.social {
    margin-left: 10%;
}

.social img {
    width: 20px;
    margin: 50%;
    transform: translate(-50%, -50%);
}

.social div {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #d1d9e6;
    box-shadow: -4px -4px 8px #f7f7f9, 4px 4px 8px #c0c1c6;
}

.facebook:hover {
    box-shadow: -4px -4px 8px inset #f7f7f9, 4px 4px 8px inset #c0c1c6;
}

.instagram:hover {
    box-shadow: -4px -4px 8px inset #f7f7f9, 4px 4px 8px inset #c0c1c6;
}

.twitter:hover {
    box-shadow: -4px -4px 8px inset #f7f7f9, 4px 4px 8px inset #c0c1c6;
}

.linkedin:hover {
    box-shadow: -4px -4px 8px inset #f7f7f9, 4px 4px 8px inset #c0c1c6;
}

.qlinks-header {
    font-size: 32px;
    font-weight: 500;
    width: 100%;
    margin-top: 30px;
}

.qlinks a {
    text-decoration: none;
    color: #888;
}

.qlinks a:hover {
    color: #ff7812;
}

.qlinks li {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    list-style-type: none;
}

.qlinks li:hover {
    border: 1px solid #d1d9e6;
    box-shadow: -4px -4px 8px inset #f7f7f9, 4px 4px 8px inset #c0c1c6;
}

.twitter-container {
    margin-top: 30px;
    margin-left: calc(calc(100% - 300px)/2);
}


/* ------------------------------------------------------------------------- */

.row {
    width: 100%;
}

h1 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--color-darkGray);
    padding-bottom: 10px;
    padding: 40px 12px;
}

h1:after {
    content: '';
    background: var(--color-orange);
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
    margin-bottom: 10px;
}

.img-responsive {
    width: 100%;
}

.profile {
    margin-top: 25px;
    margin-left: 24px;
    box-shadow: 8px 8px rgba(209, 98, 7, 0.6);
    border-radius: 12px;
    padding: 16px 0;
    background-color: var(--color-white);
    margin: 22px 8px;
    margin-left: 40px;
    width: 100%;
}

.profile:hover {
    box-shadow: 8px 8px rgb(209, 98, 7);
}

.profile .img-box {
    opacity: 1;
    display: block;
    position: relative;
}

.profile h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.profile h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

.col-md-3 {
    margin-top: 15px;
}

#nandan img {
    width: 90%;
}

.img-box img {
    width: 65%;
}

.img-box:after {
    content: '';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.img-box ul {
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 45%;
    transform: translate(-50%);
    opacity: 0;
}

.img-box ul li {
    width: 40px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    margin: 3px;
    padding: 7px;
    display: inline-block;
    text-decoration: none;
}

.img-box ul li:hover {
    color: var(--color-orange);
}

a:-webkit-any-link {
    text-decoration: none;
}

.img-box a {
    color: var(--color-white);
}

.img-box:hover:after {
    opacity: 1;
}

.img-box:hover ul {
    opacity: 1;
}

@media (max-width: 1100px) {
    .imgLogo {
        width: 170px;
    }
    .foo {
        width: 80%;
    }
    .footer-logo {
        margin: 0 50% 0 50%;
        transform: translate(-50%, 0);
    }
    .social {
        margin: 0 50% 0 50%;
        width: 200px;
        transform: translate(-50%, 0);
    }
    .left {
        height: auto;
        padding-bottom: 50px;
        margin-left: 10%;
    }
    .footer-center {
        margin-left: 10%;
    }
    .right {
        margin-left: 10%;
    }
    .qlinks-header {
        text-align: center;
    }
    .qlinks {
        margin-left: 25%;
    }
    .qlinks li {
        text-align: center;
    }
    footer {
        height: auto;
    }
}

@media (max-width: 650px) {
    header {
        height: 150px;
    }
    #navlist a {
        font-size: 18px;
        padding: 10px;
    }
    .about {
        top: 120px;
        width: 80%;
    }
    .about p {
        font-size: 10px;
    }
    .imgLogo {
        width: 150px;
    }
    .profile {
        width: 90% !important;
    }
    .qlinks li {
        width: 60%;
    }
}


/* ----------------------------------------------------------------------------------- */