@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body {
    font-family: 'Roboto';
    background: white;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

#gradient-canvas {
    display: block;
    border-radius: 0 0 80% 80%;
    width: 100%;
    height: 400px;
    opacity: 0.7;
    --gradient-color-1: #ef008f;
    --gradient-color-2: #6ec3f4;
    --gradient-color-3: #7038ff;
    --gradient-color-4: #ffba27;
}

header {
    position: relative;
}

#navlist {
    width: 100%;
    height: 50%;
    top: 0px;
    position: absolute;
    z-index: 100;
}

.imgLogo {
    width: 13%;
    height: 65%;
    border-radius: 70%;
    margin-top: -5vw;
    margin-left: 2vw;
    position: absolute;
    z-index: 100;
}

#navlist a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    margin-top: 3%;
    padding-right: 16px;
    z-index: 100;
}

.navlist-right {
    float: right;
}

#navlist a:hover {
    border-bottom: 3px solid black;
    z-index: 100;
}

.subt{
    width: 50%;
    line-height: 10vh;
    display: block;
    margin-left: 25%;
    margin-top: -15vh;
    z-index: 100;
    color: black;
    font-weight: bolder;  
    font-size: 10vh;
    text-align: center;
}


.sub-subt {
    display: block;
    width: 140vh;
    margin-left: 17%;
    color: lightslategray;
    font-size: 4vh;

}

.idk{
    transform: skewY(5deg);
}

.center_bg{
    object-fit: cover;
    object-position: center;
    width:100%;
    height:300mm;
}

.features{
    object-fit: cover;
    object-position: center;
    height:50mm;
    width:50mm;
    z-index: -10;
}

#idk1 {
    transform: skewY(-5deg); 
    margin-top: -295mm; 
}

p {
    display: block;
    z-index:0;
    color: black;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0px;
    
}

p {
    font-family: 'Reenie Beanie';
    font-size: 2rem;
}

ul,
li {
    list-style: none;
   
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#bg1 {
    background: url("../images/1.jpg") !important;
}


ul.tags li div {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 15em;
    width: 15em;
    padding: 1em;
    margin-left: 10mm;
    margin-right: 5mm;
    margin-top: 10mm;
    box-shadow: 20px 15px 7px rgba(33, 33, 33, .7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
}

ul.tags li:nth-child(10n) div{
    transform: rotate(5deg);
    position: relative;
    top: 5px;
    background: #ffbe0b;
}

ul.tags li:nth-child(10n+1) div {
    transform: rotate(-10deg);
    position: relative;
    top: -10px;
    background: #fb5607;
}

ul.tags li:nth-child(10n+2) div {
    transform: rotate(10deg);
    position: relative;
    top: 10px;
    background: #ff006e;
}

ul.tags li:nth-child(10n+3) div {
    transform: rotate(-5deg);
    position: relative;
    top: -5px;
    background: #8338ec;
}

ul.tags li:nth-child(10n+4) div {
    transform: rotate(5deg);
    position: relative;
    top: 5px;
    background: #3a86ff;
}

ul.tags li:nth-child(10n+5) div {
    transform: rotate(-10deg);
    position: relative;
    top: -10px;
    background: #e63946;
}

ul.tags li:nth-child(10n+6) div {
    transform: rotate(10deg);
    position: relative;
    top: 10px;
    background: #ffd166;
}

ul.tags li:nth-child(10n+7) div {
    transform: rotate(-5deg);
    position: relative;
    top: -5px;
    background: #06d6a0;
}

ul.tags li:nth-child(10n+8) div {
    transform: rotate(5deg);
    position: relative;
    top: 5px;
    background: #8a5a44;
}

ul.tags li:nth-child(10n+9) div {
    transform: rotate(-10deg);
    position: relative;
    top: -10px;
    background: #ffafcc;
}

ul.tags li div:hover,
ul.tags li div:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}

ul.tags li {
    margin: 1em;
}

ul.tags li:nth-child(10n)::before {
    content: ' ';
    display: block;
    position: relative;
    left: 120px;
    top: 54px;
    width: 95px;
    height: 30px;
    z-index: 2;
    background-color: lightgray;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

ul.tags li:nth-child(10n+1)::before {
    content: ' ';
    display: block;
    position: relative;
    left: 80px;
    top: 44px;
    width: 95px;
    height: 30px;
    z-index: 2;
    background-color: lightgray;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

ul.tags li:nth-child(10n+2)::before {
    content: ' ';
    display: block;
    position: relative;
    left: 130px;
    top: 60px;
    width: 95px;
    height: 30px;
    z-index: 2;
    background-color: lightgray;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}

ul.tags li:nth-child(10n+3)::before {
    content: ' ';
    display: block;
    position: relative;
    left: 94px;
    top: 45px;
    width: 95px;
    height: 30px;
    z-index: 2;
    background-color: lightgray;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

ul.tags li:nth-child(10n+4)::before {
    content: ' ';
    display: block;
    position: relative;
    left: 120px;
    top: 55px;
    width: 95px;
    height: 30px;
    z-index: 2;
    background-color: lightgray;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

ul.tags li:nth-child(10n+5)::before {
    content: ' ';
    display: block;
    position: relative;
    left: 85px;
    top: 42px;
    width: 95px;
    height: 30px;
    z-index: 2;
    background-color: lightgray;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

ul.tags li:nth-child(10n+6)::before {
    content: ' ';
    display: block;
    position: relative;
    left: 130px;
    top: 60px;
    width: 95px;
    height: 30px;
    z-index: 2;
    background-color: lightgray;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}

ul.tags li:nth-child(10n+7)::before {
    content: ' ';
    display: block;
    position: relative;
    left: 90px;
    top: 45px;
    width: 95px;
    height: 30px;
    z-index: 2;
    background-color: lightgray;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

ul.tags li:nth-child(10n+8)::before {
    content: ' ';
    display: block;
    position: relative;
    left: 120px;
    top: 55px;
    width: 95px;
    height: 30px;
    z-index: 2;
    background-color: lightgray;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

ul.tags li:nth-child(10n+9)::before {
    content: ' ';
    display: block;
    position: relative;
    left: 85px;
    top: 42px;
    width: 95px;
    height: 30px;
    z-index: 2;
    background-color: lightgray;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

h {
    font-weight: bolder;
    text-align: center;
    margin-left: 50px;
}

.cookie-banner {
    position: fixed;
    bottom: 10px;
    left: 10%;
    right: 10%;
    width: 80%;
    z-index: 5;
    padding: 15px 30px 0px 30px;
    display: none;
    /*flex;*/
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.close {
    height: 30px;
    width: 20mm;
    margin-bottom: 10px;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

footer {
    margin-top: 50px;
    border-top: 1px solid #d1d9e6;
    background-color: #e6e7ee;
    height: 500px;
}

.foo {
    width: 33%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

.footer-logo {
    width: 200px;
    margin-left: 10%;
}

.social {
    margin-left: 10%;
}

.social img {
    width: 20px;
    margin: 50%;
    transform: translate(-50%, -50%);
}

.social div {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #d1d9e6;
    box-shadow: -4px -4px 8px #f7f7f9, 4px 4px 8px #c0c1c6;
}

.facebook:hover {
    box-shadow: -4px -4px 8px inset #f7f7f9, 4px 4px 8px inset #c0c1c6;
}

.instagram:hover {
    box-shadow: -4px -4px 8px inset #f7f7f9, 4px 4px 8px inset #c0c1c6;
}

.twitter:hover {
    box-shadow: -4px -4px 8px inset #f7f7f9, 4px 4px 8px inset #c0c1c6;
}

.linkedin:hover {
    box-shadow: -4px -4px 8px inset #f7f7f9, 4px 4px 8px inset #c0c1c6;
}

.qlinks-header {
    font-size: 32px;
    font-weight: 500;
    width: 100%;
    margin-top: 30px;
}

.qlinks a {
    text-decoration: none;
    color: #888;
}

.qlinks a:hover {
    color: #ff7812;
}

.qlinks li {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.qlinks li:hover {
    border: 1px solid #d1d9e6;
    box-shadow: -4px -4px 8px inset #f7f7f9, 4px 4px 8px inset #c0c1c6;
}

.twitter-container {
    margin-top: 30px;
    margin-left: calc(calc(100% - 300px)/2);
}